<!DOCTYPE html>
<html lang="en">
<head>
<title>Rectangle Area Calcultaor</title>
</head>
<body>

<h1> Fill in the fields to calculate your area.</h1>
<label for="length">Length</label><br>
<input type="number" id="length" required><br><br>
<label for="number">Width</label><br>
<input type="text" id="width" required><br><br>
	<script type="text/javascript">

	let length = document.getElementById("length").value;
	let width = document.getElementById("width").value;
	let area = length * width;
	
	function areaCalc()
	{
	document.write("Your area is " + area);
	}
	
	if  (length.value == '' || width.value == '') 
	{
	alert('Please enter a length and width');
	}
	</script>

	<button onclick="areaCalc()" label="Calculate">Calculate area</button>

</body>
</html>