body {
  padding-top: 70px;
  background-color: gainsboro;
}

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/AkayaTelivigala-Regular.ttf) format('truetype');
}

body {
  font-family: 'MyFont';
}

a {
  color: darkblue;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.navbar-brand {
  font-family: fantasy;
  color:darkblue;
  font-size: x-large;
  font-weight: bold;
}

