* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightskyblue;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    font-weight: 600;            
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    padding: 5px 0px 5px 0px;
}

#bannerImg {
    position: fixed;
    top: 0px;
    width: 100%;
    }

    .bannerWords {
        position:absolute;
        top: 0px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 48px;
        padding: 20px 0px 0px 380px;
    }
#ulNav {
    position: fixed;
    top: 0px;
    list-style-type: none;
    margin: 130px 0px 0px 50px;
}

#liNav {
    padding: 2px 5px 5px 0px;
    font-size: 20px;
    background: transparent;
    display: inline;
}

.mainHome {
    margin: 180px 100px 40px 0px;
}

.articleHome {
    color: darkblue; 
    padding: 10px 0px 0px 20px;
    margin: 0px 0px 0px 0px;
}

.footer {
    display: inline-block;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    padding: 2px 0px 2px 0px;
    margin: 0px 0px 0px 0px;
    background-color: blue;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    width: 100%;
    text-align: center;
    }

.footer a {
    display: inline;
    position: relative;
    color: white;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.footer h3 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.resume {
    display: inline-block;
    margin: 180px 10px 10px 100px;
    padding: 0px 0px 0px 0px;
    color: darkblue;    
}

.resumeHead1 {
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.resumeHead2 {
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.resumeHead3 {
    padding: 5px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.resumeList1 {
    padding: 10px 0px 0px 30px;
    margin: 0px 0px 0px 0px;
}

.resumeList2{
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;    
}

.folio {
    display: inline-block ;
    margin: 180px 0px 400px 50px;
    padding: 0px 0px 0px 0px;
}

.folio a {
    display: inline-block;
    color: darkblue;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 30px;
    margin: 0;
    }

.folioHead1 {
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

.folioHead2 {
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.folioHead3 {
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.folioArt {
    border: 1px solid black;
    margin: 10px 0px 0px 30px;
    padding: 0px 30px 0px 0px;
}


.contactPage {
    margin: 10px 10px 10px 50px;
    padding: 170px 0px 0px 0px;
}
 .contactBox {
    margin: 10px 400px 10px 50px;
    padding: 20px 10px 20px 30px;
    background-color: aliceblue;
 }

 .contactPage h2, p {
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
    padding: 5px 0px 5px 0px;
 }

.admin {
    color: black;
    background-color: lightgray;
    padding: 200px 0px 380px 50px;
    margin: 0px 0px 0px 0px;
}

.admin main {
    padding: 100px 100px 100px 100px;
    margin: 0px 0px 0px 0px;
}

.adminLoggedin {
  
    color: black;
    background-color: lightgray;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.adminLoggedin h1 {

    color: black;
    margin: 200px 0px 0px 0px;
    padding: 0px 0px 400px 30px;
}