<!DOCTYPE html>
<html>
    <head>
        <title>Exercise #2 - Contact Form</title>
    </head>
    <body>
        <h1>Contact Form</h1>
        <hr>
        <div style="background-color: lightgray; margin-left: 10px; padding: 10px 10px 10px 10px; max-width: 600px;">
        <form action="action.php" method="post" target="_blank">
            <label for="firstName">First Name</label>
            </br>
            <input type="text" name="firstName" id="firstName" required>
        </br></br>
            <label for="lastName">Last Name</label>
            </br>
            <input type="text" name="lastName" id="lastName" required>
        </br></br>
            <label for="myEmail">Email</label>
            </br>
            <input type="email" id="myEmail" required>
        </br></br>
            <label for="address">Address</label>
            </br>
            <textarea rows="4" cols="30" name="address" id="address" required></textarea>
        </br></br>
            <label for="dateBirth">Date of Birth</label>
            </br>
            <input type="date" name="dateBirth" id="dateBirth" placeholder="yyyy" required>
        </br></br>
            <label for="comments">Comments</label>
            </br>
            <textarea rows="4" cols="30" name="comments" id="comments" required></textarea>
        </br></br>
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
         </form>
        </div>
        </body>
        </html>